* text=auto

*.ts    text diff=typescript
*.tsx   text diff=typescript
*.js    text diff=javascript
*.jsx   text diff=javascript
*.json  text
*.css   text
*.md    text
*.yml   text
*.yaml  text

*.png   binary
*.jpg   binary
*.ico   binary
*.webp  binary
*.woff  binary
*.woff2 binary
